.container {
	width: 400px;
	border: 1px solid #f5f5f5;
	border-radius: 5px;
	padding: 16px;
	margin: 10px 0;
}

.container:nth-child(1) {
	margin-top: 20px;
}

.button {
	margin-top: 10px;
	cursor: pointer;
}

.body {
	margin-top: 10px;
}
